main
ww
ww-debug-build
Makefile
src/Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.log
config.status
configure
configure~
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/ww-debug-build
src/include/config.h
src/include/stamp-h1
*.bin
*.out
*.o
src/include/config.h.in
src/tmp.txt
